.movie {
  min-height: 280px;
  max-height: 350px;
  height: 100%;
  background: var(--wite-color);
  -webkit-box-shadow: 1px 2px 5px 1px #E5E5E5, 1px 2px 5px 1px #E5E5E5; 
  box-shadow: 1px 2px 5px 1px #E5E5E5, 1px 2px 5px 1px #E5E5E5;
  overflow: hidden;
}

.image_poster {
  cursor: pointer;
  background-size: cover;
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
}

.info {
  padding: .4rem .5rem 0 1rem;
}

.info__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__title {
  margin: 0;
}

.info__raiting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid;
}

.info__raiting_green {
  border-color: var(--green-color);
}
.info__raiting_yellow {
  border-color: var(--yellow-color);
}
.info__raiting_orange {
  border-color: var(--orange-color);
}
.info__raiting_red {
  border-color: var(--red-color);
}

.info__date {
  color: var(--grey);
  font-size: var(--fs-smal);
  line-height: 22px;
}

.info__topic {
  margin-bottom: .5rem;
  font-size: var(--line-height-middle);
  line-height: var(--line-height-small);
}

.info__about {

}

.info__text {
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-smal);
  line-height: var(--line-height-middle);
}

.topic__btn {
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: var(--fs-smal);
  line-height: var(--line-height-small);
  pointer-events: none;
}

.info__rate {
  margin-bottom: 1rem;
  display: block;
}

.info__stars {
  font-size: 26px;
}

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {
      .info__about {
        display: block;
      }
     }